customtkinter==5.1.2
darkdetect==0.8.0
DateTime==5.1
et-xmlfile==1.1.0
Jinja2==3.1.2
MarkupSafe==2.1.2
numpy==1.24.2
openpyxl==3.1.2
pandas==1.5.3
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
XlsxWriter==3.0.9
zope.interface==5.5.2
